/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.header {
    background-color: #345995;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.header img {
    width: 60px;
    height: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main Content Styles */
.main-content {
    padding: 20px;
}

.dashboard h2 {
    color: #345995;
    margin-top: 0;
}

/* Footer Styles */
.footer {
    background-color: #345995;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
